/***** GENERAL STYLING *****/
/* Body */
body {
    margin: 0%;
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; 
    font-family: 'Trocchi', serif; 
    text-align: center; 
    margin-top: 3%; /
    color: #ff386a; 
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(6%); 
    transform: scale(1.1); 
    transition: transform 2s; 
}

/* Styling for portfolio title text */
.white-text {
    color: #ff386a; 
}

/* Paragraph elements */
p {
    font-family: "Trocchi", serif, Bold;
    text-align: justify; 
    letter-spacing: 1px; 
    font-size: 15px;
    padding-left: 20px; 
    padding-right: 20px; 
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s; 
	transform: scale(1.01); 
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center; 
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
    transition: transform 2s; 
    transform: scale(1.1); 
}

/* Anchor elements */
a {
    color: rgb(255, 97, 150); 
}

/* Quotation elements */
q {
    font-style: italic; 
}

/* Image elements */
img {
    filter: grayscale(40%); 
    border-radius: 40px; 
    max-width: 100%; 
    height: 340px; 
    display: block; 
    margin-left: auto; /
    margin-right: auto;
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);  
    transition: transform 1s; 
	transform: scale(1.1); 
}


@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 2%; 
    background-color: rgb(255, 182, 212);
}
/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden; 
    background-color: rgb(255, 192, 227); 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1; 
    -webkit-animation: moveNav 5s; 
    animation: moveNav 5s; 
    border-color: #bbff9c;
    border-style: solid;
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} 
    to {left: 0vw;} 
}

/* Navbar links */
.Navbar a {
    float: left; 
    display: block; 
    color: white;
    padding: 14px 16px; 
    text-decoration: none; 
    font-family: Avant Garde, Helvetica; 
    font-size: 20px; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 5.75s; 
    animation: moveNavText 5.75s; 

}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; 
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #bbff9c; 
    color: rgb(255, 112, 167); 
    font-weight: bold; 
}

/* Navbar home button */
.Navbar a.active { 
    background-color: rgb(180, 255, 164);
}
/***** END OF NAVBAR STYLING *****/

/***** VIDEO STYLING *****/
/* Formatting for background video */
#Typing_Video {
    position: fixed; /* This fixes the video to the page */
    right: 0;
    bottom: 0; 
    min-width: 100%; 
    z-index: -1; 
}

/* Screens that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    width: 100%; 
    padding: 20px; 
    position: relative; 
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} 
    to {top: 0vw;} 
}
/***** END OF VIDEO STYLING *****/

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; 
} 

.Column_1 {
    float: left;
    width: 50%; 
    padding: 10px;
    padding-top: 3%; 
    height: 400px; 
    background-color: rgba(0, 0, 0, 0.5); 
    background-image: url(https://i.pinimg.com/564x/b6/4e/35/b64e3511323f25c04c0a7caa55ff89c2.jpg);
    opacity: 0.85;
    border-radius: 20px;
    border-color: #bbff9c;
    border-style: solid  ;
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #ffdafc;
    opacity: 0.85;
    border-radius: 20px;
    border-color: #bbff9c;
    border-style: solid;
}

/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form  while keeping the rest of the formatting from Column_1 or Column_2 */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
	content: ""; 
	display: table;
	clear: both; 
}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/

input[type=text] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 25px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 10px; 
    resize: vertical; 
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effects for input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px #ff96ca inset; 
}

/* Submit button */
input[type=submit] {
    background-color: rgb(171, 255, 171); 
    color: rgb(255, 138, 167); 
    font-weight: bold; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    font-family: Perpetua, Rockwell Extra Bold;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: white; 
    color: rgb(255, 120, 154); 
    transform: scale(1.5); 
    transition: transform 1.5s;
    opacity: 0.9;
}

/* Form element */
form {
    border-radius: 10px; 
    background-image: url(https://i.pinimg.com/564x/b6/4e/35/b64e3511323f25c04c0a7caa55ff89c2.jpg); 
    padding: 10px; 
    font-family: "Trebuchet MS", Optima;
    opacity: 0.9;
}
/***** END OF CONTACT FORM STYLING *****/
